<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>All Products </title>
</head>
<body>
	
	
	<h1>This is Products Page </h1>
		
		
			<div class="Nav" style="height: 7vh; background-color: antiquewhite; display: flex; justify-content: center;">
		<h2 style="margin-right: 2%;">E-Commerce App	</h2>
		<button style="height: 4vh; margin-top: 1%; background-color: darkblue;"><a class="a" th:href="@{/ShowaddProduct}" 
		style="text-decoration: none; color: beige;"> Add Products</a></button>
		
		<button style="height: 4vh; margin-top: 1%; background-color: brown;"><a class="a" th:href="@{/addUser}" 
		style="text-decoration: none; color: beige;">Register Customer</a></button>
		
		<button style="height: 4vh; margin-top: 1%; background-color: chocolate;"><a class="a" th:href="@{/viewDetails}" 
		style="text-decoration: none; color: beige;">View Customers</a></button>
		
		



</body>
</html>